<!-- <p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<button type="button" class="btn btn-primary" (click)="login()">login</button>

<a routerLink="survey">
    <button type="button" class="btn btn-primary">Encuesta</button>
</a> -->

<!-- <div class="container-fluid px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Hanging icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#tools" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Custom cards</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('assets/images/unsplash-photo-1.jpg');">
                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover  overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('assets/images/unsplash-photo-2.jpg');">
                <div class="d-flex flex-column  p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Pakistan</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>4d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover  overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('assets/images/unsplash-photo-3.jpg');">
                <div class="d-flex flex-column  p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container px-4 py-5 bg-usco">
    <h2 class="pb-2 border-bottom">¡Bienvenido a la Universidad Surcolombiana!</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2 ">
            <p class="text-muted" style="text-align: justify">Si estás interesado en ingresar a la Universidad
                Surcolombiana y deseas saber si tu puntaje en las pruebas ICFES te permite cumplir con los requisitos de
                admisión, te ofrecemos la opción de utilizar nuestro Simulador de Ponderaciones. <br><br> Además, si
                deseas descubrir cuál es tu vocación profesional, puedes hacer uso de nuestro Programa de Orientación
                Profesional, que te permitirá conocer las áreas de estudio que mejor se ajustan a tus gustos y
                habilidades. Recuerda que nuestros servicios en línea son solo una herramienta de ayuda para los
                estudiantes que desean ingresar a nuestra institución.</p>
            <a href="#" class="btn btn-secondary">Login admin</a>
            <a href="#" class="btn btn-info">ver resultados</a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <!-- <div class="d-flex flex-column gap-2"> -->
            <a href="#" class="text-decoration-none">
                <div class="card shd-card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header fw-semibold">Simulador de Ponderaciones</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Ingresa tus puntajes ICFES y descubre tu puntaje ponderado.</p>
                    </div>
                </div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="card shd-card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header fw-semibold">Programa de Orientación Profesional</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Responde una encuesta y conoce tu interés vocacional.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>